[SddmGreeterTheme]
Name=Genshin Fedora
Description=Genshin Fedora SDDM Theme
Author=Fedora KDE SIG, KDE Visual Design Group
Copyright=(c) 2014, David Edmundson
License=CC-BY-SA
Type=sddm-theme
Version=0.3
Website=https://fedoraproject.org/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=kde@lists.fedoraproject.org
Theme-Id=genshin-fedora
Theme-API=2.0
QtVersion=6
